.values{
    background: get-color(tertiary);
    padding-top: 100px;
    padding-bottom: 100px;
   

    .container{
        display: flex;
        color: get-color(light);

    }
  
}
.values__text{
    h2{
        text-align: center;
        color: get-color(light)

    }
    p{
        text-align: center;
        margin-bottom: 40px;
        color: get-color(light);
    }
}