.page-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:10px;
    align-items: center;
    text-align: left;
    h2{
        font-size: 18px;
        color: get-color(tertiary);
        text-align: left;
        margin-left: 150px;
    }
    h3{
        font-size: 17px;
        font-weight: 600;
        text-align: left;
        margin-left: 150px;

    }
    p{
        font-size: 17px;
        font-weight: 800;
        text-align: left;
        margin-left: 150px;

    }
}