.solution{
    background-color:get-color(primary);
    padding: 3px 0 40px;
    .container{
        max-width: 800px;

    }
     h2{
           font-size: 30px;
           color: get-color(light);
           text-align: center;

     }
     p{
        text-align: center;
        color: get-color(light)
     }
     hr{
         margin-bottom: 40px;
         display: block;
         border: none;
         border-top: 1px solid get-color(light);
     }
}