.team{
    background-color:get-color(light);
    padding-top:25px ;
    padding-bottom: 25px;
    .container{
        max-width: 800px;
    }
    h2{
        font-size: 30px;
        color: get-color(tertiary);
        text-align: center;

    }   
    p{
    text-align: center;
    color: #999
 }

    
}

    